
$secondary-font: 'Roboto', sans-serif;
$content-font: 'Raleway', sans-serif;
$break-800: 800px;
$break-620: 620px;
$break-520: 520px;
$break-400: 400px;
#about{
  text-align: center;
  @media screen and (max-width: $break-620){
    padding: 90px 40px 40px 40px;
  }
  @media screen and (max-width: $break-400){
    padding: 90px 40px 40px 40px;
  }
  @media screen and (max-height: $break-small){
    padding: 90px 20px 40px 40px;
  }
  .about-text{
    margin: 0;
    padding-top: 20px;
    font-size: 2em;
    line-height: 2em;
    font-family: $content-font;
    color: white;
    font-weight: 100;
    @media screen and (max-width: $break-800){
      font-size: 1.75em;
    }
    @media screen and (max-width: $break-520){
      font-size: 1.5em;
    }
    @media screen and (max-width: $break-400){
      font-size: 1.25em;
    }
    @media screen and (max-height: $break-small){
      font-size: 1em;
    }
  }
}
