$title-font: 'Righteous', cursive;
$secondary-font: 'Roboto', sans-serif;
$content-font: 'Raleway', sans-serif;
$theme-color: white;
$hover-bg: #bfbfbf;
$active-bg: #4d4d4d;
$break-small: 450px;

@keyframes navbarshow{
  100% {opacity: 1;}
}
#header{
  position: fixed;
  top:0;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  z-index: 2;
  background-color: black;
  animation-name: navbarshow;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  @media screen and (max-width: $break-small) {
    height: 50px;
  }
  #brand{
    position: absolute;
    height: 50px;
    width: 84px;
    margin: 20px;
    border: 1px solid $theme-color;
    border-radius: 8px;
    // background-color: $theme-color;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: $hover-bg;
    }
    &:active{
      background-color: $active-bg;
    }
    @media screen and (max-width: $break-small) {
      height: 30px;
      width: 50px;
      margin: 8px;
    }
    #brand-letter{
      margin: 0;
      color: $theme-color;
      font-size: 40px;
      line-height: 50px;
      font-family: $title-font;
      border-radius: 8px;
      @media screen and (max-width: $break-small) {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
  #nav-items{
    float: right;
    margin: 15px;
    @media screen and (max-width: $break-small) {
      margin: 5px;
    }
    a{
      text-decoration: none;
      .nav-item{
        display: inline-block;
        margin: 10px;
        padding: 10px;
        color: $theme-color;
        border: 1px solid $theme-color;
        border-radius: 2px;
        font-family: $content-font;
        text-transform: uppercase;
        @media screen and (max-width: $break-small) {
          margin: 5px;
          padding: 5px;
          font-size: 14px;
        }
        &:hover{
          background-color: $hover-bg;
        }
        &:active{
          background-color: $active-bg;
        }
      }
    }
  }

}
