@import 'splash';
@import 'header';
@import 'projects';
@import 'contact';
@import 'about';

body{
  margin: 0;
  .content-container{
    position: relative;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
  }
}
