@import 'splash';
@import 'header';
@import 'projects';
@import 'contact';
@import 'about';

body{
  margin: 0;
  background-color: black;
  .splash-container{
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }
  .container{
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 90px;
    border-bottom: 1px solid #262626;
    .display-text{
      opacity: 0;
      transition: all 1s ease-out;
    }
    .fade-in{
      opacity: 1;
    }
  }
}
