/* ***** INDEX.HTML STYLES ***** */
html > body{
  margin: 0;
  font-family: 'Khula', sans-serif;
  width: 100%;
}

/* ===== HEADER AREA ===== */
#header{
  position: fixed;
  height: 60px;
  width: 100%;
  /*padding: 20px;*/
  box-sizing: border-box;
  /*background-color: #1a75ff;*/
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: height 500ms;
}

#home-button{
  position: relative;
  height: 60px;
  width: auto;
  padding: 0 20px;
  line-height: 60px;
  font-size: 28px;
  color: black;
  float: left;
  font-family: 'Montserrat Subrayada', sans-serif;
  /*border-right: 1px solid #d9d9d9;*/
}

#home-button:hover{
  color: #00ff00;
}


#mobile-nav{
  display: none;
}

#navigation{
  position: relative;
  float: right;
}

#navigation > a{
  text-decoration: none;
}

.nav-item{
  display: inline-block;
  height: 60px;
  width: auto;
  padding: 0 20px;
  text-decoration: none;
  color: black;
  transition: padding 1000ms ease;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

#about-active{
  background-color: white;
}

.nav-item:hover{
  color: #00ff00;
  text-shadow: none;
}

.nav-item:active{
  color: white;
}

/* ===== PAGE CONTAINER ===== */
#page-container{
  position: relative;
  top: 60px;
  margin: 0;
  padding: 0;
}

#page-title-container{
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  text-align: center;
}

#page-title{
  line-height: 100px;
  font-size: 40px;
  color: #00e600;
  font-family: 'Permanent Marker', cursive;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ===== HERO AREA ===== */
#hero-area-container{
  height: auto;
  padding: 60px;
  text-align: center;
}

#hero-title{
  font-size: 22px;
}

#hero-title > h1{
  margin: 10px;
}

#hero-image{
  display: inline-block;
  height: 275px;
  width: 275px;
  margin: 20px;
  background-image: url('images/wojo.jpg');
  background-size: cover;
  border-radius: 50%;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
}

/* ===== PANO IMAGE AREA ===== */
#pano-image{
  position: relative;
  margin: 0 0 10px 0;
  height: 400px;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-image: url(images/pch.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

#pano-text-container{
  display: inline-block;
  height: auto;
  width: 50vw;
  margin: 80px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#pano-text-container > p{
  margin: 20px;
  font-size: 2.5em;
}

#quote{
  font-weight: bold;
}

#author{
  font-style: italic;
  font-size: 2em;
}


/* ===== PANEL AREA ===== */
#panel-container{
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
}

.panel{
  position: relative;
  height: 23vw;
  width: 23vw;
  padding: 0;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
}

.panel:hover{
  transition: 250ms ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

#panel1{
  background-image: url('images/shredder.jpg');
  background-size: cover;
}

#panel2{
  background-image: url('images/metroapp.jpg');
  background-size: cover;
}

#panel3{
  background-image: url('images/dance.jpg');
  background-size: cover;
}

#panel4{
  background-image: url('images/github-octocat.png');
  background-size: cover;
}

.panel-text{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 2em;
}

/* ===== SOCIAL AREA ===== */
#social-container{
  display: flex;
  height: 125px;
  width: 350px;
  margin: 10px auto;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Placeholder */
}

.icon-container{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: auto;
}

#github-icon{
  height: 100%;
  width: 100%;
  background-image: url('images/github.png');
  background-size: cover;
}

#linkedin-icon{
  height: 100%;
  width: 100%;
  background-image: url('images/linkedin.png');
  background-size: cover;
}

#instagram-icon{
  height: 100%;
  width: 100%;
  background-image: url('images/instagram.png');
  background-size: cover;
}

/* ===== FOOTER AREA ===== */
#footer{
  position: relative;
  bottom: 0;
  height: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #595959;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

#copyright{
  margin: 0;
  line-height: 20px;
  color: white;
  text-align: center;
  font-weight: lighter;
}

/* ***** ABOUT PAGE STYLES ***** */

#about-container{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
  justify-content: center;
}

#about-title > h1{
  position: relative;
  text-align: center;
  font-size: 40px;
  color: #00e600;
  font-family: 'Permanent Marker', cursive;
}

#about-text-container{
  display: inline-block;
  height: auto;
  width: 70vw;
  margin: 20px 80px;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  line-height: 2em;
  font-size: 18px;
}

#about-text-container > h2{
  margin-bottom: 5px;
}

#about-text-container > p{
  margin-top: 10px;
}

#about-text-container > h2{
  text-decoration: underline;
}

/* ***** GALLERY STYLES ***** */
#gallery-container{
    position: relative;
    box-sizing: border-box;
    height: auto;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.gallery-item{
    position: relative;
    height: 300px;
    width: 300px;
    padding: 0;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}

.gallery-item > img{
    width: 100%;
    z-index: 2
}

.slidecover {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 10%;
    overflow: hidden;
    background-color: #000000;
    transition: 500ms ease;
    opacity: 0;
    z-index: 1
}
.cover-description {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.gallery-item:hover .slidecover {
    width: 100%;
    right: 0;
    opacity: 0.8;
}

/* ===== MEDIA QUERY: Re-size panels */
@media screen and (max-width: 1250px){

  .panel {
    height: 45vw;
    width: 45vw;
  }
}

/* ===== MEDIA QUERY: Re-size pano font */
@media screen and (max-width: 960px){
  #pano-text-container{
    width: 65vw;
  }
  #pano-text-container > p{
    margin: 20px;
    font-size: 2em;
  }

  #author{
    font-style: italic;
    font-size: 1.5em;
  }
}

/*make nav-items smaller*/
@media screen and (max-width: 860px){
  .nav-item{
    padding: 0 20px;
    font-size: 16px;
  }
}

/* ===== MEDIA QUERY: TABLET ===== */
@media screen and (max-width: 800px){

  #header{
    height: 60px;
  }

  #navigation{
    position: relative;
    float: right;
    right: 0;
  }

  .nav-item{
    padding: 0 10px;
    font-size: 16px;
  }

  .panel{
    height: 45vw;
    width: 45vw;
  }

  .panel:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .panel:active{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  }
}

/* ===== MEDIA QUERY: 700px ===== */
@media screen and (max-width: 700px){
  #home-button{
    transition: font-size 500ms ease;
    font-size: 22px;
  }
  .nav-item{
    padding: 0 5px;
  }

  #pano-text-container > p{
    margin: 20px;
    font-size: 1.5em;
  }

  #author{
    font-style: italic;
    font-size: 1em;
  }

/* ===== MEDIA QUERY: 659px ===== */
@media screen and (max-width: 599px){
  .panel {
    height: 75vw;
    width: 75vw;
  }
}

/* ==== MEDIA QUERY: 600px ===== */
@media screen and (max-width: 600px){

  #header{
    box-shadow: none;
    height: 40px;
    text-align: center;
  }

  #header > a{
    text-decoration: none;
  }

  #home-button{
    float: none;
    height: 40px;
    line-height: 40px;
  }

  #home-button:hover{
    color: black;
  }

  $home-button:active{
    background-color: white;
  }

  #navigation{
    display: none;
  }

  #mobile-nav{
    display: block;
    position: fixed;
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    top: 40px;
    float: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #b3b3b3;
    z-index: 1;
    font-family: 'Permanent Marker', cursive;
  }

  #mobile-nav-container{
    display: flex;
    padding: 0;
    justify-content: space-between;
  }

  .nav-item{
    height: 30px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    line-height: 30px;
  }

  /*.nav-item:hover{
    background-color: #005ce6;
    color: white;
  }*/

  .nav-item:active{
    background-color: white;
    color: #00ff00;
  }

  #about-active-mobile{
    background-color: white;
  }

  #page-container{
    position: relative;
    top: 70px;
  }

  #page-title-container{
    height: 40px;
  }

  #page-title{
    line-height: 40px;
    font-size: 30px;
  }

  #hero-title{
    font-size: 12px;
  }

  #hero-image{
    height: 200px;
    width: 200px;
  }

  #pano-text-container{
    margin: 120px 20px;
  }

  #pano-text-container > p{
    margin: 20px;
    font-size: 1.25em;
  }

  #social-container{
    margin: 100px 0 0 0;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  }

  #footer{
    margin: 0;
    box-shadow: none;
  }

  #about-text-container{
    margin: 20px;
    padding: 20px;
    width: 90vw;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    line-height: 2em;
    font-size: 16px;
  }
}
