html > body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
}

/* ===== HEADER AREA ===== */
#header {
  position: fixed;
  height: 20px;
  width: 100%;
  padding: 20px;
  background-color: #1a75ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#home-button {
  position: relative;
  line-height: 20px;
  font-size: 24px;
  color: white;
  font-weight: lighter;
  text-shadow: 0.5px 0.5px #000000;
  float: left;
}

#home-button > span {
  margin: 0;
}

#navigation {
  position: relative;
  right: 40px;
  float: right; }

#navigation > a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  border-right: 2px solid white;
  text-shadow: 0.5px 0.5px #000000; }

#navigation > a:hover {
  transition: 0.20s ease;
  color: #0000cc;
  border-right: 2px solid #0000cc;
  text-shadow: none; }

/* ===== HERO AREA ===== */
#hero-area {
  margin: 0 0   10px 0;
  height: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Placeholder */
}

#hero-area > h1 {
  font-size: 55px;
}

/* ===== PANEL AREA ===== */
#panel-container {
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.panel {
  position: relative;
  height: 330px;
  width: 330px;
  padding: 0;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Placeholder */
}

/* ===== SOCIAL AREA ===== */
#social-container {
  display: flex;
  height: 125px;
  width: 350px;
  margin: 10px auto;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Placeholder */
}

.icon-container{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: auto;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
}

/* ===== FOOTER AREA ===== */
#footer{
  position: relative;
  bottom: 0;
  height: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background-color: #0000cc;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

#copyright{
  margin: 0;
  line-height: 20px;
  color: white;
  text-align: center;
  font-weight: lighter;
}
