html > body {
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
}

/* ===== HEADER AREA ===== */
#header {
  position: fixed;
  height: 60px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1a75ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: height 500ms;
}

#home-button {
  position: relative;
  line-height: 20px;
  font-size: 24px;
  color: white;
  font-weight: lighter;
  text-shadow: 0.5px 0.5px #000000;
  float: left;
}

#home-button > span {
  margin: 0;
}

#mobile-nav{
  display: none;
}

#navigation {
  position: relative;
  float: right;
  right: 40px;
}

#navigation > a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  border-right: 2px solid white;
  text-shadow: 0.5px 0.5px #000000;
  transition: padding 1000ms ease;
}

#navigation > a:hover {
  transition: 0.20s ease;
  color: #0000cc;
  border-right: 2px solid #0000cc;
  text-shadow: none;
}

/* ===== HERO AREA ===== */
#hero-area {
  margin: 0 0 10px 0;
  height: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Placeholder */
}

#hero-area > h1 {
  font-size: 55px;
}

/* ===== PANEL AREA ===== */
#panel-container {
  position: relative;
  margin: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.panel {
  position: relative;
  height: 23vw;
  width: 23vw;
  padding: 0;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
}

/* ===== SOCIAL AREA ===== */
#social-container {
  display: flex;
  height: 125px;
  width: 350px;
  margin: 10px auto;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2; /* Placeholder */
}

.icon-container{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: auto;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
}

/* ===== FOOTER AREA ===== */
#footer{
  position: relative;
  bottom: 0;
  height: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #0000cc;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

#copyright{
  margin: 0;
  line-height: 20px;
  color: white;
  text-align: center;
  font-weight: lighter;
}


/* ===== MEDIA QUERY: Re-size panels */
@media screen and (max-width: 1250px){

  .panel {
    height: 45vw;
    width: 45vw;
  }
}

/* ===== MEDIA QUERY: TABLET ===== */
@media screen and (max-width: 768px){

  #header {
    height: 100px;
  }

  #home-button > span{
    transition: 1000ms ease;
    line-height: 60px;
    font-size: 28px;
  }

  #navigation {
    position: relative;
    float: right;
    right: 0;
  }

  #navigation > a{
    padding: 0 8px;
    line-height: 60px;
  }

  .panel {
    height: 70vw;
    width: 70vw;
  }
}


/* ===== MEDIA QUERY: 640px ===== */
@media screen and (max-width: 650px){

  #home-button > span{
    font-size: 24px;
    text-decoration: none;
  }

  #navigation > a{
    font-size: 12px;
    padding: 0 4px;
  }


/* ==== MEDIA QUERY: 540px ===== */

@media screen and (max-width: 540px){

  #header{
    height: 100px;
    box-shadow: none;
  }

  #header > a{
    text-decoration: none;
  }

  #home-button{
    float: none;
  }

  #navigation{
    display: none;
  }

  #mobile-nav{
    display: block;
    position: fixed;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    padding: 20px 40px;
    top: 100px;
    float: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #005ce6;
    z-index: 1;
  }

  #mobile-nav-container{
    display: flex;
    justify-content: space-between;
  }

  .mobile-nav-item > a{
    text-decoration: none;
    padding: 0 5px;
    text-decoration: none;
    color: white;
    border-right: none;
    text-shadow: 0.5px 0.5px #000000;
    transition: padding 1000ms ease;
  }
}
