#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", cursive; }
  @media screen and (max-height: 450px) {
    #splash {
      padding: 90px 40px 40px 40px; } }
  #splash #splash-item-container {
    position: relative;
    height: 350px;
    width: 350px; }
    @media screen and (max-width: 450px), screen and (max-height: 450px) {
      #splash #splash-item-container {
        height: 200px;
        width: 250px; } }
    #splash #splash-item-container .splash-letter-item {
      position: absolute;
      height: 100px;
      width: 100px;
      border: 4px solid white;
      border-radius: 24px;
      color: white;
      font-size: 100px;
      text-align: center; }
      @media screen and (max-width: 450px), screen and (max-height: 450px) {
        #splash #splash-item-container .splash-letter-item {
          height: 60px;
          width: 60px;
          font-size: 50px;
          border: 2px solid white; } }
    #splash #splash-item-container #first-letter {
      z-index: 1; }
    #splash #splash-item-container #rest-first {
      position: absolute;
      left: 112px; }
      @media screen and (max-width: 450px), screen and (max-height: 450px) {
        #splash #splash-item-container #rest-first {
          left: 69px;
          top: 2px; } }
@keyframes splashletters {
  100% {
    top: 120px;
    transform: rotate(360deg); } }
@keyframes splashnames {
  100% {
    opacity: 1; } }
    #splash #splash-item-container #last-letter {
      top: 0;
      transform: rotate(180deg);
      animation-name: splashletters;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards; }
    #splash #splash-item-container #rest-last {
      position: absolute;
      top: 118px;
      left: 112px; }
      @media screen and (max-width: 450px), screen and (max-height: 450px) {
        #splash #splash-item-container #rest-last {
          left: 69px;
          top: 80px; } }
    #splash #splash-item-container .rest {
      position: absolute;
      animation-name: splashnames;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      opacity: 0;
      font-size: 90px;
      color: white; }
      @media screen and (max-width: 450px), screen and (max-height: 450px) {
        #splash #splash-item-container .rest {
          font-size: 50px; }
        @keyframes splashletters {
          100% {
            top: 80px;
            transform: rotate(360deg); } } }
    #splash #splash-item-container .letter {
      margin: 0;
      line-height: 100px; }
      @media screen and (max-width: 450px), screen and (max-height: 450px) {
        #splash #splash-item-container .letter {
          line-height: 60px; } }
@keyframes tagline {
  100% {
    opacity: 1; } }
    #splash #splash-item-container #tagline {
      position: absolute;
      top: 250px;
      font-size: 24px;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      opacity: 0;
      color: white;
      animation-name: tagline;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-fill-mode: forwards; }
      @media screen and (max-width: 450px), screen and (max-height: 450px) {
        #splash #splash-item-container #tagline {
          top: 175px;
          font-size: 16px; } }

@keyframes navbarshow {
  100% {
    opacity: 1; } }
#header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  z-index: 2;
  background-color: black;
  animation-name: navbarshow;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0; }
  @media screen and (max-width: 450px) {
    #header {
      height: 50px; } }
  #header #brand {
    position: absolute;
    height: 50px;
    width: 84px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer; }
    #header #brand:hover {
      background-color: #bfbfbf; }
    #header #brand:active {
      background-color: #4d4d4d; }
    @media screen and (max-width: 450px) {
      #header #brand {
        height: 30px;
        width: 50px;
        margin: 8px; } }
    #header #brand #brand-letter {
      margin: 0;
      color: white;
      font-size: 40px;
      line-height: 50px;
      font-family: "Righteous", cursive;
      border-radius: 8px; }
      @media screen and (max-width: 450px) {
        #header #brand #brand-letter {
          font-size: 24px;
          line-height: 30px; } }
  #header #nav-items {
    float: right;
    margin: 15px; }
    @media screen and (max-width: 450px) {
      #header #nav-items {
        margin: 5px; } }
    #header #nav-items a {
      text-decoration: none; }
      #header #nav-items a .nav-item {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        color: white;
        border: 1px solid white;
        border-radius: 2px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase; }
        @media screen and (max-width: 450px) {
          #header #nav-items a .nav-item {
            margin: 5px;
            padding: 5px;
            font-size: 14px; } }
        #header #nav-items a .nav-item:hover {
          background-color: #bfbfbf; }
        #header #nav-items a .nav-item:active {
          background-color: #4d4d4d; }

@media screen and (max-width: 620px) {
  #projects {
    padding: 90px 40px 40px 40px; } }
#projects .project {
  padding: 30px;
  height: 50px;
  width: 400px;
  margin: 30px auto;
  text-align: center; }
  @media screen and (max-width: 620px) {
    #projects .project {
      height: 40px; } }
  @media screen and (max-width: 450px) {
    #projects .project {
      padding: 40px 0;
      width: 200px; } }
  @media screen and (max-height: 450px) {
    #projects .project {
      padding: 5px; } }
  #projects .project a {
    text-decoration: none; }
  #projects .project .project-text {
    margin: 0;
    line-height: 50px;
    font-size: 50px;
    color: white; }
    #projects .project .project-text:hover {
      color: #00ff00;
      text-decoration: underline; }
    @media screen and (max-width: 620px) {
      #projects .project .project-text {
        line-height: 40px;
        font-size: 40px; } }
    @media screen and (max-width: 450px) {
      #projects .project .project-text {
        line-height: 40px;
        font-size: 35px; } }
    @media screen and (max-height: 450px) {
      #projects .project .project-text {
        font-size: 30px;
        padding: 5px; } }
  #projects .project #weather-app-font {
    font-family: "Lobster", cursive; }
  #projects .project #metro-app-font {
    font-family: "Faster One", cursive; }
  #projects .project #wheel-of-luck-font {
    font-family: "Monoton", cursive; }
  #projects .project #study-stacks-font {
    font-family: "Marck Script", cursive; }

#contact {
  text-align: center; }
  @media screen and (max-width: 620px) {
    #contact {
      padding: 90px 40px 40px 40px;
      font-size: 30px; } }
  #contact a {
    text-decoration: none;
    vertical-align: middle; }
    #contact a p {
      margin-top: 200px;
      color: white;
      line-height: 100%;
      font-size: 40px;
      font-family: "Raleway", sans-serif; }
      #contact a p:hover {
        color: #00ff00;
        text-decoration: underline; }
      @media screen and (max-width: 620px) {
        #contact a p {
          font-size: 20px; } }
      @media screen and (max-height: 450px) {
        #contact a p {
          margin-top: 90px;
          font-size: 20px; } }

#about {
  text-align: center; }
  @media screen and (max-width: 620px) {
    #about {
      padding: 90px 40px 40px 40px; } }
  @media screen and (max-width: 400px) {
    #about {
      padding: 90px 40px 40px 40px; } }
  @media screen and (max-height: 450px) {
    #about {
      padding: 90px 20px 40px 40px; } }
  #about .about-text {
    margin: 0;
    padding-top: 20px;
    font-size: 2em;
    line-height: 2em;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: 100; }
    @media screen and (max-width: 800px) {
      #about .about-text {
        font-size: 1.75em; } }
    @media screen and (max-width: 520px) {
      #about .about-text {
        font-size: 1.5em; } }
    @media screen and (max-width: 400px) {
      #about .about-text {
        font-size: 1.25em; } }
    @media screen and (max-height: 450px) {
      #about .about-text {
        font-size: 1em; } }

body {
  margin: 0;
  background-color: black; }
  body .splash-container {
    position: relative;
    box-sizing: border-box;
    width: 100%; }
  body .container {
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 90px;
    border-bottom: 1px solid #262626; }

/*# sourceMappingURL=styles.css.map */
