#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Righteous", cursive;
  background-color: black; }
  #splash #splash-item-container {
    position: relative;
    height: 350px;
    width: 350px; }
    @media screen and (max-width: 450px) {
      #splash #splash-item-container {
        height: 200px;
        width: 200px; } }
    #splash #splash-item-container .splash-letter-item {
      position: absolute;
      height: 100px;
      width: 100px;
      border: 4px solid white;
      border-radius: 24px;
      color: white;
      font-size: 100px;
      text-align: center; }
      @media screen and (max-width: 450px) {
        #splash #splash-item-container .splash-letter-item {
          height: 60px;
          width: 60px;
          font-size: 50px;
          border: 2px solid white; } }
    #splash #splash-item-container #first-letter {
      z-index: 1; }
    #splash #splash-item-container #rest-first {
      position: absolute;
      left: 112px; }
      @media screen and (max-width: 450px) {
        #splash #splash-item-container #rest-first {
          left: 69px;
          top: 2px; } }
@keyframes splashletters {
  100% {
    top: 120px;
    transform: rotate(360deg); } }
@keyframes splashnames {
  100% {
    opacity: 1; } }
    #splash #splash-item-container #last-letter {
      top: 0;
      transform: rotate(180deg);
      animation-name: splashletters;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards; }
    #splash #splash-item-container #rest-last {
      position: absolute;
      top: 118px;
      left: 112px; }
      @media screen and (max-width: 450px) {
        #splash #splash-item-container #rest-last {
          left: 69px;
          top: 80px; } }
    #splash #splash-item-container .rest {
      position: absolute;
      animation-name: splashnames;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      opacity: 0;
      font-size: 90px;
      color: white; }
      @media screen and (max-width: 450px) {
        #splash #splash-item-container .rest {
          font-size: 50px; }
        @keyframes splashletters {
          100% {
            top: 80px;
            transform: rotate(360deg); } } }
    #splash #splash-item-container .letter {
      margin: 0;
      line-height: 100px; }
      @media screen and (max-width: 450px) {
        #splash #splash-item-container .letter {
          line-height: 60px; } }
@keyframes tagline {
  100% {
    opacity: 1; } }
    #splash #splash-item-container #tagline {
      position: absolute;
      top: 250px;
      font-size: 24px;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      opacity: 0;
      color: white;
      animation-name: tagline;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-fill-mode: forwards; }
      @media screen and (max-width: 450px) {
        #splash #splash-item-container #tagline {
          top: 175px;
          font-size: 18px; } }

#header {
  display: none;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid white; }
  @media screen and (max-width: 380px) {
    #header {
      height: 50px; } }
  #header #brand {
    position: absolute;
    height: 50px;
    width: 84px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer; }
    @media screen and (max-width: 380px) {
      #header #brand {
        height: 30px;
        width: 50px;
        margin: 8px; } }
    #header #brand #brand-letter {
      margin: 0;
      color: white;
      font-size: 40px;
      line-height: 50px;
      font-family: "Righteous", cursive;
      border-radius: 8px; }
      @media screen and (max-width: 380px) {
        #header #brand #brand-letter {
          font-size: 24px;
          line-height: 30px; } }
  #header #nav-items {
    float: right;
    margin: 15px; }
    @media screen and (max-width: 380px) {
      #header #nav-items {
        margin: 5px; } }
    #header #nav-items a {
      text-decoration: none; }
      #header #nav-items a .nav-item {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        color: white;
        border: 1px solid white;
        border-radius: 2px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase; }
        @media screen and (max-width: 380px) {
          #header #nav-items a .nav-item {
            margin: 5px;
            padding: 5px;
            font-size: 14px; } }
        #header #nav-items a .nav-item:hover {
          background-color: #bfbfbf; }
        #header #nav-items a .nav-item:active {
          background-color: #4d4d4d; }

#projects {
  position: relative;
  background-color: blue; }

#contact {
  position: relative;
  background-color: red; }

#about {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  position: relative;
  background-color: gray; }
  #about #about-container {
    width: 80%; }

body {
  margin: 0; }
  body .content-container {
    position: relative;
    box-sizing: border-box;
    height: 500px;
    width: 100%; }

/*# sourceMappingURL=styles.css.map */
