.copyright{
    text-align: center;
    color: black;
    background-color: #e6e6e6;
}

.jumbotron{
    position: relative;
    text-align: center; 
    padding-top: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#title{
    padding: 20px;
    font-weight: bold;
}

#letsGoBack{
    position: absolute;
    top: 10px;
    right: 10px;
}

#select-button{
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 3px;
    margin: 20px;
    color: white;
    background-color: #ff3333;
    box-shadow: 3px 3px black;
    border: 0;
    outline: none;
}

#select-button:active {
    background-color: #ff3333;
    transform: translate(3px, 3px);
    box-shadow: 0 0 black;
}

#refresh-button{
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 3px;
    margin: 20px;
    color: white;
    background-color: #ff3333;
    box-shadow: 3px 3px black;
    border: 0;
    outline: none;
}

#refresh-button:active {
    background-color: #ff3333;
    transform: translate(3px, 3px);
    box-shadow: 0 0 black;
}

.redline{
    background-color: red;
    color: white;
    font-weight: bold;
}

.blueline{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.greenline{
    background-color: green;
    color: white;
    font-weight: bold;
}

.yellowline{
    color: black;
    background-color: yellow;
    font-weight: bold;
}

.orangeline{
    background-color: orange;
    color: white;
    font-weight: bold;
}

.silverline{
    background-color: gray;
    color: white;
    font-weight: bold;
}

.container-fluid{
    text-align: center;
}

